h1 {
  display: flex;
  justify-content: center;
}
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-container input {
  width: 500px;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #110101;
  margin-right: 10px;
  margin-left: 10px;
}

.result-container {
  display: flex;
  justify-content: center;
}

.result-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.result-container li h3,
.result-container li p {
  justify-content: center;
}

.result-container li img {
  width: 80%;
  height: auto;
}
